pip~=25.0.1
codebleu~=0.7.0
configparser~=7.2.0
attrs~=23.2.0
protobuf~=6.30.1
pyOpenSSL~=25.0.0
cryptography~=44.0.2
pillow~=11.1.0
docutils~=0.21.2
Sphinx~=8.2.3
filelock~=3.18.0
redis~=5.2.1
coverage~=7.7.0
pandas~=2.2.3
accelerate~=1.6.0
tqdm~=4.67.1
numpy~=2.2.4
torch~=2.6.0
transformers~=4.50.3
huggingface-hub~=0.30.1
scikit-learn~=1.6.1
requests~=2.32.3
pytest>=7.4.0
#tree-sitter==0.24.0