attrs==23.2.0
colorama==0.4.6
configparser==7.2.0
coverage==7.7.0
cryptography==44.0.2
docutils==0.21.2
filelock==3.18.0
ipython==9.0.2
ipywidgets==8.1.5
keyring==25.6.0
pandas==2.2.3
Pillow==11.1.0
protobuf==6.30.1
pyOpenSSL==25.0.0
redis==5.2.1
Sphinx==8.2.3
urllib3[secure]==2.0.7
pytest>=7.4.0
